
.custom_bg_color{
	background: linear-gradient(to left, #6dd5ed, #2193b0); 
}

.custom-text-field{
	background-color: #f4f6f7;
	border: 0;
	font-weight: bold;
	font-size: 20px
}

.custom-color {
	color: black; 
	text-decoration: none;
}